body {
  list-style-type: none;
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
  font-size: 15px;
}

#selectionlist ul {
  list-style-type: none;
  font-size: 15px;
  margin: 0px;
  width: 200px;
  background-color: deepskyblue;
  color: #DCDCDC;
  padding: 0px;
  position: fixed;
}

#selectionlist li a {
  display: block;
  width: 60px;
  text-decoration: none;
  padding: 8px 16px;
  text-align: center;
}

#selectionlist li a:hover{
  background-color: white;
  color: gray;
  transition: 0.5s;
}

.active {
  background-color: white;
  color: gray;
}
