body {
  list-style-type: none;
  font: Verdana;
  font-size: 15px;
  width: 728px;
  margin: auto;
  border: 2px dotted black;
}

#navbar {
  float: left;
  display: inline-block;
  width: 200px;
}

#selectionlist {
  display: inline-block;
  width: 200px;
  font-size: 15px;
  font: Verdana;
  list-style-type: none;
  text-decoration: none;
  float: left;
}

#selectionlist ul {
  list-style-type: none;
  font-size: 15px;
  margin: 0px;
  width: 200px;
  background-color: deepskyblue;
  color: #DCDCDC;
  padding: 0px;
  position: fixed;
}

#selectionlist li a {
  display: block;
  width: 60px;
  text-decoration: none;
  padding: 8px 16px;
  text-align: center;
  background-color: DimGrey;
  border: 2px solid #808080;
  color: black;
}

#selectionlist li a:hover{
  background-color: white;
  transition: 0.5s;
}

.active {
  background-color: white;
  color: gray;
}

#topwrapper {
  float: left;
  background-color: deepskyblue;
  color: white;
  width: auto;
  padding: 15px;
  border-radius: 5px;
  border-style: dotted;
  border-color: white;
  border-width: 3px;
  font: 100% Verdana;
}
